<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="MyWorkEntities" connectionString="metadata=res://*/Model.WorkModel.csdl|res://*/Model.WorkModel.ssdl|res://*/Model.WorkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=MyWork;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>