<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Work.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="Data"
    providerName="System.Data.SqlClient"
    connectionString="data source=(local);initial catalog=MyWork;integrated security=True;MultipleActiveResultSets=True;"  />
	</connectionStrings>
 <userSettings>
  <Work.Properties.Settings>
   <setting name="LastUserName" serializeAs="String">
    <value />
   </setting>
  </Work.Properties.Settings>
 </userSettings>
</configuration>