<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Data" 
			 providerName="System.Data.SqlClient"
			 connectionString="data source=(local);initial catalog=MyWork;integrated security=True;MultipleActiveResultSets=True;"  />
	</connectionStrings>
</configuration>